
  body {
    background-image: url('./FondoSobre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .card {
   
    text-align: center;
  }

  #imgHealth {
    width: 45%; 
    margin: 0 auto; 
  }

  button {
    background-color: #8b4513; /* Color de fondo marrón */
    color: #ab91e7; /* Texto blanco */
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave de color de fondo */
  }

  button:hover {
    background-color: #654321; /* Cambio de color al pasar el ratón */
  }

